footer
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
	background-color: #303030;
	height: 175px;
	color: white;
	z-index: 100;
	.copyright a
		{
			text-decoration: underline;
			color: white;
		}
}

.chevron
	{
		height: 30px;
		width: 30px;
		background-color: #D3BF8D;;
		border-radius: 50%;
		position: sticky;
		bottom: 10px;

		.fas{
		color: white; 
		margin-left: 6px;
		margin-top: 2.7px;
		font-size:  21px;
			&:hover{
				color: black;
				opacity: 0.3;	
			}
		}
	}

