footer
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
	background-color: #303030;
	height: 175px;
	color: white;
	#copyright a
		{
			text-decoration: underline;
			color: white;
		}
}

#link_admin{
	position:absolute;
	left: 10px;
	bottom:10px;
	a{color: white;}
}



#chevron
	{
		height: 30px;
		width: 30px;
		background-color: grey;
		border-radius: 50%;
		position: -webkit-sticky;
		position: sticky;
		bottom: 20px;
		margin-bottom: 10px;

		.fas{
		color: white; 
		margin-left: 6px;
		margin-top: 2.7px;
		font-size:  21px;
			&:hover{
			opacity: 0.3;	
			}
		}
	}

