footer
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
	background-color: #303030;
	height: 175px;
	color: white;
	z-index: 100;
	.copyright a
		{
			text-decoration: underline;
			color: white;
		}

			.picto_sociaux{
	display: flex;
	justify-content: end;
	font-size: 30px;
	position: sticky;
	left: 75%;
		.share-insta{
			color:#C32AA3;
			&:hover{
				color: #C32AA3;
			}
		}
		.share-youtube{
			color: #E62117;
			cursor: not-allowed;
			&:hover{
				color: #E62117;
			}
		}

		.share-fb{
			color:#3B5998;
			&:hover{
				color: #3B5998;
			}
		}
		.share-linkedin{
			color:#0e76a8;
			&:hover{
				color: #0e76a8;
			}
		}
	}
}

.chevron
	{
		height: 30px;
		width: 30px;
		background-color: #D3BF8D;;
		border-radius: 50%;
		position: sticky;
		bottom: 10px;
		margin-top: 10px;

		.fas{
		color: white; 
		margin-left: 6px;
		margin-top: 2.7px;
		font-size:  21px;
			&:hover{
				color: black;
				opacity: 0.3;	
			}
		}
	}

