form{
	background: #D3BF8D;
	border-radius: 8px;
	border:solid;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;


	.form_contact{
			width: 100%;
		}
	p{
		display: flex;
		flex-direction: column;
		
		margin: auto 8px;
		label{
			text-align: left;
		}
		textarea{
			min-height: 75px;
		}
		input{
			margin-bottom: 8px;
			width: 200px;
		}
		input[type=email]{
				width: 300px;
			}
		input[type=submit], .inscription{
			display: absolute;
			width: 100px;
			height: 35px;
			margin: 8px auto;
			border-radius: 8px;
			cursor: pointer;
			a{
				color: inherit;
				text-decoration: none;
			}
		}
	}
}
