nav
{
	width: 100%;
	text-transform: uppercase;
	display: flex;
	border: 1px solid;
	border-color: #A7976E;
	background-color: #D3BF8D;
	position: -webkit-sticky;
	position: sticky;
	font-size: 18px;
	font-family: 'Black Ops One', cursive;

	a
	{
		text-decoration: none;
		text-align: center;
		margin-right: 20px;
		color: #6D6D6D;
		&:hover
		{
			//background-color: #ADADAD;
			color: #2A2A2A;
		}
	}

	@include mobile-only
	{
		width: 100%;
		
		a{
			padding: 0px;
		}
	}
}

.navbar-expand-md
{
	top: 0px;
	z-index: 100;

	.div_collapse
	{
		margin:7px;
		height:30px;
		left: 10px;
		button
		{
			text-align: left;
			color: grey;
			display: flex;
		}
	}

	.userNavbar
	{
		display: flex;
	}
}

.navbarArticles
{
	top: 30px;
	z-index: 100;
	justify-content: center;

	&__liste
	{	
		display: flex;
		max-width: 1357px;
		width: 100%;
		justify-content: space-around;
	}
}