nav
{
	width: 100%;
	text-transform: uppercase;
	justify-content: center;
	display: flex;
	border: 1px solid;
	border-color: #F2F5E1;
	background-color: $site_bg_color;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 100;

	a{
		text-decoration: none;
		padding: 20px;
		color: #6D6D6D;
		&:hover{
			background-color: #F2F5E1;
			color: #827528;
		}
	}
	@include mobile-only{
		width: 100%;
		a{
			padding: 0px;
		}
		}
}