body{
	margin: auto;
	@include flex_column;
	align-items: center;
	background-color: $site_bg_color;
	height: auto;
}

.banniere
{
	max-width: 1357px;
	width: 100%;
	min-height: 291px;
	@media (max-width: 799px){
			min-height: 280px;
			height: 280px;
			}
	a{
		max-width: 1357px;
		width: 100%;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		h1{
			z-index: 99;
			text-transform: capitalize;
			color: black;
			padding-top: 50px;
			font-family: 'Black Ops One', cursive;
			@media (max-width: 799px){
				display: none;
			}
		}
		picture{
			position: absolute;
			top: 0px;
			img{
				@media (max-width: 799px){
				height: 280px;
				}	
			}
		}
	}
}

.select_block
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	min-height: 750px;
	width: 100%;
	background-color: $site_bg_color;
	position: relative;
}

.mainAndFb{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1024px;
	width: 100%;
	@include mobile-only{
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}

.fbAndShare{
	position: sticky;
	top: 46px;
	height: 750px;
}