body{
	margin: auto;
	@include flex_column;
	align-items: center;
	background-color: $site_bg_color;
	width: 100%;
	min-width: 1024px;
	height: auto;
}

.banniere
{
	position: fixed;
	z-index: 0;
}

.main_block{
	@include flex_column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: $site_bg_color;
	position: relative;
	top: 290px;
}
.bodyAndFb{
		display: flex;
		flex-direction: row;
		width: 1150px;
		min-height: 900px;
		justify-content: space-between;
	}
