body{
	margin: auto;
	@include flex_column;
	align-items: center;
	background-color: $site_bg_color;
	height: auto;
}

.banniere
{
	border: solid green;
	max-width: 1357px;
	width: 100%;
	min-height: 291px;
	@media (max-width: 799px){
				height: 280;
			}
	a{
		border: solid red;
		max-width: 1357px;
		width: 100%;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		h1{
			border: solid silver;
			z-index: 99;
			text-transform: capitalize;
			color: black;
			font-family: 'Black Ops One', cursive;
			@media (max-width: 799px){
				display: none;
			}
		}
		picture{
			border: solid yellow;
			position: absolute;
			top: 0px;
			img{
				@media (max-width: 799px){
				height: 280px;
				}	
			}
		}
	}
}

.main_block{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	min-height: 750px;
	width: 100%;
	background-color: $site_bg_color;
	position: relative;
	@include mobile-only{
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}

.select_block
{
	max-width: 1000px;
}

.fbAndShare{
	position: sticky;
	top: 46px;
}