$title_color: #474843;

h1, h3, h2
{
	color: $title_color;
	@include mobile-only{
		font-size: 95%;
	}
}

h2 a
{
	color : $title_color;
}

h1
{
	font-size: 42px;
}

.citation
{
	padding-top: 1px;
	text-align: center;
	vertical-align: middle;
	height: 60px;
	border-left: 10px #9BBE4B solid;
	background-color: #F9FFDB;
}

h2 em
{
	font-size: 12px;
	@include mobile-only{
		font-size: 5%;
	}
}

section a
{
	text-decoration: none;
	z-index: 2;
	color : $title_color;
}

.select_block p
{
	line-height: 27px;
	max-width: 750px;
	font-size: 17px;
	color : #6D6D6D;
	@include mobile-only
	{
		width: 100%;
	}

}