div[class="contact_head"]
{
	padding: 1%;
	width: 100%;
	text-align: center;
	p img{
		width: 100%;
	}
	@include mobile-only
	{
		img{
			width: 100%;
		}	
	}
}

.contact{
display: flex;
flex-direction: column;
}