.block_news{
	display: flex;
	flex-direction: column;
	h2{
		color: #6F4843;
	}
	img:hover{
		transition: opacity 0.3s;
		opacity: .8;
		transition: box-shadow 0.1s;
		box-shadow: 0px 0px 0px black;
	}
	@include mobile-only{
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.article
{
	width: auto;
	height: 360px;
	margin-top: 30px;
	overflow: hidden;
	img
	{
		float: left;
		margin-right: 20px;
		margin-left: 20px;
		border-radius: 5px;
		box-shadow: 0px 0px 5px black;
		width: 340px;
		height: 340px;
	}
	@include mobile-only{
		width: 48%;
		height: auto;
		&__texte{
			display: none;
		}
		img{
			margin: auto;
			width: 150px;
			height: 150px;
			float: none;
		}
	}
}

.suite
{
	color: #5F7528;
}