.block_news{
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: auto;
	h2{
		color: #6F4843;
	}
	img:hover{
		transition: opacity 0.3s;
		opacity: .8;
		transition: box-shadow 0.1s;
		box-shadow: 0px 0px 0px black;
	}
	@include mobile-only{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.article
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	max-height: 300px;
	margin-top: 30px;
	overflow: hidden;
	padding: 5px;
	&__img{
		width: 220px;
		height: 220px;
		margin-right: 10px;
		img{
			border-radius: 5px;
			box-shadow: 0px 0px 5px black;
			width: 100%;
			height: 100%;
		}
	}
	&__texte{
		width: 75%;
		a:hover{
				color: #6F4843;
			}
	}
	@include mobile-only{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		width: 48%;
		height: auto;
		border: 2px solid black;
		border-radius: 10px;
		background-color: #D3BF8D;
		&__img{
			margin-right:0px;
			height: auto;
			width: auto;
			display: flex;
			justify-content: center;
		}
		&__texte{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 140px;
			height: 100%;
			&__title{
				width: 100%;
				height: auto;
			}
			&__resume{
			display: none;
			}
		}
		img{
			margin: auto;
			margin-top: 5px;
			width: 140px;
			height: 140px;
			max-width: 100%;
			margin-bottom: 5px;
			float: none;
		}
	}
}

.suite
{
	color: #5F7528;
}