.focus_article
{
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	img
	{
		align-self: center;
		max-width: 100%;
		max-height: 500px;
	}
	blockquote
	{
		margin-left: 0;
		margin-right: 0;
		border-left: 10px #9BBE4B solid;
		background-color: #F9FFDB;
		padding-bottom: 5px;
		padding-left: 25px;
	}
}

.writeComment{
	max-width: 750px;
	textarea{
		width: 100%;
	}
	form {
		width: 100%;
		p{
			width: 90%;
			margin: auto;
		}
		input{
			margin-left: 43%;
		}
	}
}

.articleComment{
	margin-bottom: 10px;
	border: solid black 2px;
	border-radius: 5px;
	max-width: 600px;
	&__entête{
		padding: 5px;
		background-color: #D3BF8D;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}
	&__texte{
		padding: 5px;
		border-radius: 5px;
	}
}