body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBFFE3;
  width: 100%;
  min-width: 1024px;
  height: auto; }

.banniere {
  position: fixed;
  z-index: 0; }

.main_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FBFFE3;
  position: relative;
  top: 290px; }

.bodyAndFb {
  display: flex;
  flex-direction: row;
  width: 1150px;
  min-height: 900px;
  justify-content: space-between; }
