.center {
  display: flex;
  justify-content: space-around; }

.share-insta {
  color: #C32AA3;
  font-size: 30px; }

.share-youtube {
  color: #E62117;
  cursor: not-allowed;
  pointer-events: none;
  font-size: 30px; }

.share-fb {
  color: #3B5998;
  font-size: 30px; }
