footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  background-color: #303030;
  height: 175px;
  color: white; }
  footer .copyright a {
    text-decoration: underline;
    color: white; }

.chevron {
  height: 30px;
  width: 30px;
  background-color: #D3BF8D;
  border-radius: 50%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  margin-bottom: 8px;
  margin-top: 10px; }
  .chevron .fas {
    color: white;
    margin-left: 6px;
    margin-top: 2.7px;
    font-size: 21px; }
    .chevron .fas:hover {
      color: black;
      opacity: 0.3; }
